.container {
  background-color: teal;
  border-radius: 10px;
  width: 350px;
  height: 500px;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
img {
  width: 100px;
  margin-bottom: 20bx;
}
.btn {
  padding: 1rem 2rem;
  background-color: black;
  color: white;
}
